ul a{
    display: inline-block;
    padding-right: 25px;
    color: black;
}
.b{
    border: 2px solid black;
    background-color: powderblue;
}
.c{
    border: 2px solid black;
    background-color: rgb(53, 175, 145);
}
.d{
    border: 2px solid black;
    background-color: rgb(223, 223, 139);
}
.table1{
    border:2px solid rgb(8, 8, 8);
    background-color: cyan;
    width: 700px;
}
.table2{
    border:2px solid rgb(8, 8, 8);
    background-color: rgb(151, 159, 168);
    width: 700px;
    height: 150px;
}
.table3{
    border: 2px solid red;
    width: 100px;
    height: 10px;
    background-color:rgb(223, 223, 139);
}
.table4{
    border: 2px solid black;
    width: 700px;
    height: 300px;
    background-color: gray;
}
.t1{
    border: 2px solid black;
}
#h {font-size:28px; position:absolute; left:230px; top:90px}
#y { left: 100px; font-size: 20px; margin-right: 40px; margin-top: 10px;  }

